* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	background-color: #020604;
}

#roads {
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 10px;
	right: 400px;
}

svg {
	width: 100%;
	height: 100%;
	line {
		stroke-width: 2px;
		transition: stroke 0.1s;
	}

	rect {
		fill: rgba(100, 100, 250, 0.2);
	}

	circle {
		radius: 1%;
	}
}
