<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Super GridLock{% endblock title %}</title>

	<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.0.3/css/font-awesome.min.css">

	<link rel="stylesheet/less" type="text/css" href="/static/less/styles.less">

	<script type="text/javascript">
		less = {
			env: "development"
		}
	</script>
	<script src="/static/vendor/less-1.5.0.js" type="text/javascript"></script>
	<script src="/static/vendor/require.js" type="text/javascript"></script>
	<script type="text/javascript">
		require.config({
			baseUrl: "/static/js",
			paths: {
				"backbone": "../vendor/backbone-min",
				"d3": "../vendor/d3.v3.min",
				"underscore": "../vendor/underscore-min",
				"underscore.string": "../vendor/underscore.string.min",
				"vow": "../vendor/vow.min",
				"jquery": "../vendor/jquery-2.0.3.min"
			},
			urlArgs: "v=" + (new Date()).getTime(),
			shim: {
				backbone: {
					deps: ["underscore"],
					exports: "Backbone"
				},
				d3: {
				  exports: "d3"
				},
				jquery: {
					exports: "jQuery"
				},
				underscore: {
					deps: ["underscore.string"],
					exports: "_",
					init: function(UnderscoreString) {
						_.str = UnderscoreString;
					}
				},
				vow: {
				}
			}
		});
	</script>
	{% block js %}
	{% endblock js %}
</head>
<body>
	<div id="overlord">
		<header>
			<h1>#yolo</h1>
		</header>
		{% block body %}{% endblock body %}
		<footer>
		</footer>
	</div>
</body>
</html>
