{% extends "base.html" %}
{% block js %}
<script type="text/javascript">
	require(["main"], function(main) {
		main.start_prototype();
	});
</script>
{% endblock js %}
{% block body %}
<div id="roads">
	<svg id="svg">
	</svg>
</div>
{% endblock body %}
